@charset "UTF-8";
/* CSS Document */
table, td, tr, th{
	border-radius: 0px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;

	
	
}
table{border-collapse:collapse;margin:0em 0;}
th, td{padding:.5em;border:1px solid #dcdcdc;
 }
th{
	background:#65bbbb repeat;
	color:#000000;
	font-weight: bold;
	
}


td, th { padding:0.4em; border: 0px #d8d8d8 solid;}

.table-bordered1 th,
  .table-bordered1 td {
    border: 1px solid #d8d8d8 !important;
	 padding:6px;
	 
  }

  /* background tabel header */
.table-bordered1 th {
	background-color: #65bbbb;
     !important;
	font-weight: bold;
	color: #333;
	text-align: center;
	vertical-align:top;	
}
.table-bordered1 td {
	background-color: ;
    
}

.table-bordered2 th,
  .table-bordered2 td {
    border: 1px solid #ebebeb !important;
  }
.table-bordered1 input {
	background-color: #fffffe;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 7px;
	border: 1px solid #d5d5d5;   
	border-radius:5px; 
}
.table-bordered1 option {
	background-color: #fffffe;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 6px;
	border-radius:20px;
}
.table-bordered1 textarea {
	background-color: #fffffe;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:7px;
	padding-bottom:8px;
	border-radius:5px;
	border: 1px solid #d5d5d5; 
}