#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  display:none;
}  
#boxes .window {
	position: absolute;
	left: 0;
	top: 0;
	/*	width: 530px;*/
	width: 780px;
	height: 400px;
	display: none;
	z-index: 9999;
	padding: 15px;
	border-radius: 10px;
	text-align: center;
	margin-top: -150px;
	border: 3px solid #00a1be;
	
}
#boxes #dialog {
/*  width:490px; */
  width:50%; 
  height:auto;
  padding:20px;
  background-color:#ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 12pt;

 /* overflow: scroll;*/
  
  
  
}
.maintext{
	text-align: center;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}
body{
  background: url('bg.jpg');
}
#lorem{
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
  text-align: left;
}
#popupfoot{
	font-family: "Segoe UI", sans-serif;
	font-size: 16pt;
  padding: 5px 10px;
}
#popupfoot a{
	text-decoration: none;
}
.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
	background-color:#D1D1D1;
	color: green;
}
.popupoption2:hover{
	
	color: red;
}